/* fonts */
body h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
body h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
body p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 18px;
}
/* sizing */
body #main{
    max-width: 100%;
}

/* design for navigation bar */
body #nav{
    border: none;
    background-color: rgb(26, 25, 48);
    width: 100%;
}
body nav a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* design for home section */
body #home{
    background-color: rgb(156, 183, 209);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
}
/* design for about section */
body #about{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 180px;
}

/* design for contact section */
body #contact{
    background-color: rgb(156, 183, 209);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

body .contact-form {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(26, 25, 48);
    width: 480px;
    margin: 0px auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  body .contact-form label{
      font-size: 18px;
  }

  body .contact-form-input {
    padding-left: 0px;
    padding-right: 20px;
    width: 450px;
  }

  /* button design */
  #contact button{
    background-color: rgb(156, 183, 209);
    border: none;
    color: black;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  