@import url('https://fonts.google.com/?query=mon&selection.family=Montserrat');

.container {
    padding-left:30px;
    padding-right:30px;
    background-color: #F7F7FF;
}

/* images sizing */
.scooter-image {
    display: block;
    /* make all images fit conatiner up to 100% width */
    max-width: 100%;
    height: auto;
  }


/* fonts for headers */
h1{
  font-family:'Montserrat';
  font-size: 80px;
  font-weight: bold;
}
.header p{
  font-size: 24px;
}
p{
  font-size: 16px;
}

/* Apply Now Section */

.apply{
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  max-width: 100%;
}
h2{font-size: 40px;
  font-weight: bold;}

footer{
  background-color: #FFFD8C;
}