/* font montserrat from google fonts| found in html */
body {
  font-family: "montserrat", sans-serif;
}
/* container holds necessary content to be responsive */
.container {
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 30px;
    background-color: #F7F7FF;
}
/* ------------------------------------------------------- */
/* image-grid section */

/* scooter image responds and changes according to screen size */
.scooter-image {
    display: block;
    /* make all images fit conatiner up to 100% width */
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

/* buttons styles */
/* drive button is apply now section */
.drive{
  background-color: #57EEAB;
  border-radius: 6px;
  border: none;
  font-size: 24px;
  padding: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

/* fonts for all headers */
h1{
  font-size: 80px;
  font-weight: bold;
}
/* paragraph syling for all text within image-grid section */
.image-grid p{
  font-size: 24px;
  font-weight: lighter;
}
p{
  font-size: 16px;
}

/* Apply Now Section */
/* box containing apply now content */
.box:nth-child(3n){
  border-radius: 25px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  padding: 20px;
  max-width: 100%;
}
/* input style for apply now */
h2{font-size: 40px;
  font-weight: bold;
}
.applied h4{
  display: inline-block;
  font-style:normal;
  color: #FF8480;
  font-weight: lighter;
}

.contact-form-section input{
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
  background-color: #F4F4F5;
}

/* text at bottom of Apply Now */
.applied p{
  display: inline;
  font-size: 17px;
  font-weight: lighter;
}

/* check box inside apply now box*/
.checkbox-custom-label{
  font-weight: lighter;
}
/* ------------------------------------------------------- */
/* footer */

/* calculate button found in footer */
.calculate{
  background-color: #FF8480;
  border-radius: 6px;
  border: none;
  font-size: 24px;
  padding: 3px;
  padding-right: 60px;
  padding-left: 60px;
  color: white;
} 
/* colour background for footer */
footer{
  background-color: #FFFD8C;
  padding:20px;
  }
  footer p{
    font-weight: lighter;
  }
/* footer shape / text colour / and design */
  .block input{
    font-size: 16px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    background-color: #F7F7FF;
    color: #707070;
  }
  /* hours and city form */
  .contact .block{
    display: inline-block;
  }
  
  /* social media align to center */
  .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* social media padding */
  .facebook{
    padding-left:  20px;
    padding-right: 20px;
  }
  .instagram{
    padding-left:  20px;
    padding-right: 20px;
  }
  .twitter{
    padding-left:  20px;
    padding-right: 20px;
  }
  .linkedin{
    padding-left:  20px;
    padding-right: 20px;
  }


  

  /* -----------------------tablet view-------------------------- */
  @media screen and (min-width: 768px){
/* footer / social media icons responsive movement */
    .contact .block{
      display: flex;
      flex-direction:row;
      display: inline;
    }

  }


  /* -----------------------desktop view-------------------------- */
  @media screen and (min-width: 1000px){
    /* image grid section responsive movement*/
    .image-grid {
      display: flex;
      align-items: center;
      justify-content:space-evenly;
    }
    /* footer / social media icons responsive movement */
    .social-media{
      float: right;
      position: relative;
      bottom: 75px;

    }
    
  }