/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------start of css style sheet------------- */


/* nav bar styling the colour and background */
.nav{
	width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    margin-left: 0px;
}
.navbar{
	background-color: #EAD1D0;
}

.navbar a{
	color: white;
	width: 100%;
	display: inline-block;
   	text-align:center; 
}
/* end of nav styling */

/* start of banner styling */
/* styling includes white text on top of green banner */
.banner{
	background-color: #CBD8CA;
	color: #432F30;
	font-size: 50px;
	width: 100%;
	text-align: center;
	padding: 50px;
	font-family: 'Times New Roman', Times, serif;
}

/* styleing of about info and for icecream truck */
.about{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
	padding: 50px;
}
.about p{
    margin: 30px;

}
.about img{
    max-width: 50%;
}
/* media screen for Our Story page */
@media screen and (min-width: 1500px){
	.about{
		display: flex;
		padding: 100px;
		font-size: 20px;
	}
	
}
/* media screen for Our Story page */
@media screen and (min-width: 1700px){
	.about{
		padding-right: 200px;
		padding-left: 200px;
	}
}


/* --------footer-------- */
footer{
    background-color: #BEC8E3;
    padding: 30px; 
    display: inline-block;
    display: flex;
    justify-content: space-evenly;

}

footer div li{
    display: flex;
      flex-direction: row;
      display: inline;
      justify-content: space-evenly;
      padding: 10px;
    
}

/* -------------Find Us CSS Style Sheet Begins------------ */
/* contact form styling */
.contact{
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}
.contact input{
    width: 100%;
    font-size: 12px;
    border-color: black;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .contact button{
        background-color: #BEC8E3;
          border: black;
          font-family: 'Times New Roman', Times, serif;
          font-size: 24px;
          padding: 10px;
          padding-right: 30px;
          padding-left: 30px;
          color: white;
        } 
/* Hours of Operation table */
.hours{
    padding:1.5rem;
}
.location{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.map iframe{
    width: 100%;
}
div input{
    width: 100%;
    border: solid;
    border-color: #222;
    border-width: 0.5px;
    text-align: left;
}
#go input{
    height: 7rem;
}
#name label{
    line-height: 2rem;
}
#mail label{
    line-height:2rem;
}
#go label{
    line-height:2rem;
}
table{
    width: 100%;
}
table, th, td {
    border: 0.5px solid black;
    padding: 1rem;
  }
table th {
    background-color: #BEC8E3;
}

/* padding around find us page before screen expansion */
.find-us{
	padding: 50px;
}

/* media screen for Find Us page */
@media screen and (min-width: 1000px){
	.find-us{
		padding-right: 200px;
		padding-left: 200px;
	}
}
@media screen and (min-width: 1500px){
	.find-us{
		padding-right: 400px;
		padding-left: 400px;
	}
}

/* -------------Our Story CSS Style Sheet Begins------------ */
.about-store{
    text-align: center;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
	padding: 50px;
}
.about-store p{
    margin: 30px;

}
.about-store img{
    max-width: 50%;
}
/* media screen for Our Story page */
@media screen and (min-width: 900px){
	.about-store{
		display: flex;
		padding: 100px;
	}
	.about-store img{
		margin-left: 30px;
	}
	.about-store p{
		font-size: 15px;
	}
}
/* media screen for Our Story page */
@media screen and (min-width: 1500px){
	.about-store{
		padding-right: 400px;
		padding-left: 400px;
	}
}

/* -------------Our Icecream CSS Style Sheet Begins------------ */
.store{
    padding: 50px;
}
.store h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    background-color: #432F30;
    padding: 10px;
}
.store li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
hr{
    color: #432F30;
}
/* media screen for Our Icecream page */
@media screen and (min-width: 1000px){
	.store{
		padding-right: 200px;
		padding-left: 200px;
	}
}
@media screen and (min-width: 1500px){
	.store{
		padding-right: 300px;
		padding-left: 300px;
	}
}
@media screen and (min-width: 2300px){
	.store{
		padding-right: 500px;
		padding-left: 500px;
	}
}