/* adding color */
/* adding font */
html{
    font-size: 16px;
}

body{
    color: rgb(202, 154, 127);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white_brick_wall.jpg");
}
h1{
    color: rgb(114, 60, 60);
}
/* descendent selector - multiple levels */
/* Specificity */
p{
    background-color: lightblue;
}


/* selecting multiple elements to apply same styles */
h1, 
h2, 
h3, 
h4 {
    text-decoration: underline;
}

/* descendent selector */
/* spesificity: 0002 */
nav ul{
    list-style: none;
}

/* descendent selector - multiple levels */
nav ul a{
    color: rgb(248, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5 x 16px = 24px */
}

/* class name selector */
/* spesificity 0010 */
.orange-link {
    background-color: darkslategray;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* id selector */
#treatofweek {
    background: darkslategray url("../images/bread.jpg") no-repeat center center;
    background-size: cover;
    color: #ccc;
    font-size: 1.5rem;
    padding: 1em;
    width: 50%;
}



.large-text {
    font-size: 1.25rem;
}

/* child selector */
/* Typography properties */
article > p{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
}

/* adjecent sibling selector */
h3+ul{
    border: 1px solid black;
}

a[href="#treatofweek"] {
    font-weight: bold;
}
[title*="Executive"]{
    background-color: yellow;
}

/* using Pseudo Classes */
/* Styling Navigation */

/* LoVe HAte */
nav ul a,
nav ul a:link,
nav ul a:visited{
background-color: wheat;
/* horizontal vertical blur spread color */
box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    /* horizontal vertical blur spread color */
box-shadow: -2px 2px 4px 2px black;
}

/* Position related Pseudo class selectors */
aside ul li:first-child{
    font-weight: bold;
}

section ol li:last-child{
    font-weight: bold;
}

/* nth-child using the formula */
dl ul li:mth-child(2n+1) {
    background-color: white;
}

/* css spesificity */

/* spesificity 0002 */
body footer {
    background-color:rgb(114, 60, 60)
}

/* spesificity: 0010*/
footer{
    background-color: rgb(66, 50, 14);
    padding: 20px
}

/* spesificity: 0010 */
.site-footer {
    background-color: rosybrown;
}

/* spesificity: 0011 */
footer.site-footer {
    background-color:rgb(114, 60, 60);
}